* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

#start-header {
  padding-bottom: 10px;
  color: blueviolet;
}

#submit-header {
  padding-bottom: 10px;
  color: blueviolet;
}

#highscore-header {
  padding-bottom: 10px;
  color: blueviolet;
  align-self: flex-start;
  text-align: left;
}

#start-para {
  padding: 10px;
  line-height: 1.5;
}

#submit-para {
  padding: 10px;
  line-height: 1.5;
  align-self: flex-start;
  text-align: left;
}

#submit-para2 {
  padding: 10px;
  line-height: 1.5;
  align-self: flex-start;
  text-align: left;
}

#input {
  height: 20px;
  width: 35%;
  border: 3px solid blueviolet;
  align-self: flex-start;
  margin-left: 10px;
  border-radius: 5px;
}

#submit-button {
  position: relative;
  bottom: 20px;
  right: 35px;
}

#start-button {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border: 3px solid purple;
  background-color: palevioletred;
  color: white;
  border-radius: 10px;
}

#go-back-button {
  width: 75px;
  height: 50px;
  border: 3px solid purple;
  background-color: palevioletred;
  color: white;
  border-radius: 10px;
  align-self: flex-start;
}

#clear-button {
  width: 125px;
  height: 50px;
  border: 3px solid purple;
  background-color: palevioletred;
  color: white;
  border-radius: 10px;
  position: relative;
  bottom: 50px;
  right: 80px;
}

#start-button:hover {
  opacity: 0.5;
}

#slide-question {
  text-align: start;
}

#slide-button {
  align-self: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  width: 75%;
  height: 50px;
  border: 3px solid purple;
  background-color: palevioletred;
  color: white;
  border-radius: 10px;
  text-align: left;
}

#slide-button:hover {
  opacity: 0.5;
}
#next-button {
  align-self: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  width: 20%;
  height: 50px;
  border: 3px solid purple;
  background-color: palevioletred;
  color: white;
  border-radius: 10px;
  text-align: center;
}

#next-button:hover {
  opacity: 0.5;
}

#correct-answer {
  color: lightslategrey;
  align-self: flex-start;
  text-align: left;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 3px solid lightslategray;
}

#incorrect-answer {
  color: lightslategrey;
  align-self: flex-start;
  text-align: left;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 3px solid lightslategray;
}
